bidict==0.23.1
black==24.8.0
blinker==1.8.2
cbor2==5.6.4
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
lgpio==0.2.2.0
luma.core==2.4.2
luma.led-matrix==1.7.1
MarkupSafe==2.1.5
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pydub==0.25.1
pyftdi==0.55.4
pyserial==3.5
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.4
pyusb==1.2.1
requests==2.32.3
rpi-lgpio==0.6
RPi.GPIO==0.7.1
simple-websocket==1.1.0
smbus==1.1.post2
smbus2==0.4.3
spidev==3.6
urllib3==2.2.3
Werkzeug==3.0.4
wsproto==1.2.0
